$base-color: #fffafa;
$second-color: #B51A1D;
$links-color: #0C121E;
$img-border-color: #100F15;
$h1color: #f90;
// font-family: 'Play', sans-serif;
// font-family: 'Orbitron', sans-serif;
// font-family: 'Armata', sans-serif;

body {
  .transparent {
    background: rgba(0,0,0,0.4);
    font-family: 'Baloo Bhaina', cursive;




    .navbox {
      float: right;
      text-align: right;
      width: 100%;
    }

    .navbar-nav {
      float: right;
      // outline: 1px solid red;
    }
  }

  .mblue {
    background-color: $base-color;
  }

  .red {
    background-color: red;
  }
  background-color: $base-color;
  h1,h2,h3{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  h1 {
    font-family: 'Rubik Mono One', sans-serif;
    padding-top: 50%;
    font-size: 5rem;
    text-align: center;
    color: $h1color;
  }

  h2 {
    // font-family: 'Play', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: $h1color;
  }
  h3 {
    // font-family: 'Play', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 0.8rem;
    text-align: left;
    color: white;
  }
  .redtext{
    font-size: 1.8rem;
    color: red;
  }
  .menucol{
    padding: 20px!important;
  }

  // .highlight {
  //   color: $second-color;
  // }

  a {
    color: $links-color;
  }
  li.nav-item:hover{
    background-color:#f90;
  }

  nav {
    a {
      img {
        height: 50px;
        width: 50px;
      }
    }
  }

  header {
    overflow: hidden;
    height: 800px;
    width: 100%;
    font-family: 'Baloo Bhaina', cursive;
    background-color: $img-border-color;
    background-image: url("/img/cover.jpg");
    background-repeat: repeat-x;
    background-position: center;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  }

  section.projects {
    padding-top: 50px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1rem;
    color: $second-color;
    height: 600px;
    width: 100%;
    // outline: 1px solid red;
    overflow: hidden;
    .text{
      font-family: 'Rubik Mono One', sans-serif;
      font-size: 0.8rem;
    }
  }

  .icons {
    display: inline-block;
    font-size: 20px;
    height: 20px;
    width: 20px;
  }

  .tw {
    background-size: contain;
    background-image: url("/img/twitter-icon.png");
  }

  .fb {
    background-size: contain;
    background-image: url("/img/facebook-icon.png");
  }

  .gg {
    background-size: contain;
    background-image: url("/img/googleplus-icon.png");
  }

  .pi {
    background-size: contain;
    background-image: url("/img/pinterest-icon.png");
  }

  .in {
    background-size: contain;
    background-image: url("/img/instagram-icon.png");
  }

  .yo {
    background-size: contain;
    background-image: url("/img/youtube-icon.png");
  }

  .li {
    background-size: contain;
    background-image: url("/img/linkedin-icon.png");
  }
  // .tw .fb .gg .pi .in .yo .li

  .col{
    align-items: center;
    text-align: center;
    border-radius: 1%;
    border:2px solid white;
  }
  img.avatar {
    // margin: 1% 1% 1% 1%;
    float: left;
    // height: 180px;
    // width: 180px;
    border-radius: 1%;
    border:2px solid white;
  }
  .menuitemselect{
    padding-left: 5%;
    padding-right: 5%;
    width: 180px;
  }
  button{
    padding-left: 5%;
    padding-right: 5%;
    width: 180px;
  }

  section.team {
    background-color: $second-color;
    padding-top: 30px;
    padding-left: 5%;
    overflow: hidden;
    height: auto;
    width: 100%;

    p {
      padding: 0 30px 60px 0;
      font-family: 'Orbitron', sans-serif;
      font-size: 14px;
    }
  }

  section.contacts {
    padding: 10%;
    color: $second-color;
  }
}
